$color1: #aceca1;
$color2: #629460;
#navbarr {
  transition: 400ms ease-in;
  background-color: lighten($color2, 20%) !important;
  @media (min-width: 577px) {
    height: 76px;
  }
}
#navbarr.scrolled {
  height: 50px;
  transition: 400ms ease-out;
  background-color: $color2 !important;
}

.BrandLink {
  color: $color1 !important;
}
.NavLink {
  color: $color1 !important;
  transition: 100ms;
}
.NavLink.scrolledNavLink {
  font-size: 20px;
}

.NavLink:hover {
  color: $color2 !important;
  background-color: $color1 !important;
  transition: 100ms;
  transform: scale(1.1);
}
